<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.phone %}
    <li class="phone"><span>电话/微信:13714002902</span>
    </li>
    {% endif %}
    
    {% if sidebar.email %}
    <li class="email"><span>邮箱:852241390@qq.com</span>
    </li>
    {% endif %}
    
    {% if sidebar.worktime %}
    <li class="worktime"><span>工作年限:4年半</span>
    </li>
    {% endif %}
    
    {% if sidebar.year %}
    <li class="year"><span>年龄:28</span>
    </li>
    {% endif %}
    
    {% if sidebar.education %}
    <li class="education"><span>学历:本科</span>
    </li>
    {% endif %}
    
  </ul>
</div><!--//contact-container-->
