<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><span>邮箱</span>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone"><span>电话/微信</span>
    </li>
    {% endif %}
    
    {% if sidebar.worktime %}
    <li class="worktime"><span>工作年限</span>
    </li>
    {% endif %}
    
    {% if sidebar.year %}
    <li class="year"><span>年龄</span>
    </li>
    {% endif %}
    
    {% if sidebar.education %}
    <li class="education"><span>学历</span>
    </li>
    {% endif %}
    
  </ul>
</div><!--//contact-container-->
